@mixin bulletContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 1px solid red;
  width: 100px;
  height: 20px;
  box-sizing: border-box;
}

.bullet-container_1 {
  @include bulletContainer();
  top: 0;
  left: 0;
}
.bullet-container_2 {
  @include bulletContainer();
  top: 0;
  right: 0;
}
.bullet-container_3 {
  @include bulletContainer();
  left: 0;
  bottom: 0;
}
.bullet-container_4 {
  @include bulletContainer();
  bottom: 0;
  right: 0;
}
